# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp